*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --smooth: all 0.3s ease-in;
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --bg-primary: #f4f4f4;
  --bg-secondary: #f0f2f5;
  --bg-third: #ccc;
  --bg-forth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --orange-color: orange;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
